/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */

body{
  background-color: rgb(157, 160, 163);
}

#logo{
  width: 800px;
}
