/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
} */
/* video {
  position: fixed;
  left: 0;
  top: 0;
  height:100%;
  z-index: -1;
  height:1200px;
} */
#imgsize{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.card{

  transition: all 0.2s ease;
  cursor: pointer;
  

}
  
body {
  background-color: #f8f8f8;
}
.card:hover{

  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}
#img-id-config{
  width: 700px;
  height: 500px;
}

.pagination{
  justify-content:center
}
#date-margin1{
  text-align: left;
  margin-left:1em;
}
#text-title1{
  text-align: left;
  margin-left:0.5em;
  margin-bottom: 0.5em;
}
#textcontent1{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

/* #textolugar{
  text-align:left;
} */
