<h2>inforation</h2>

<p>Foro Nasa es una aplicacion donde puedes acceder a noticias sobre las ultimas imagenes capturadas por la NASA,
    ver su contenido y poder hacer comentarios en las noticias compartiendo opiniones con otros usuarios.
</p>

<p>
    La informacion mostrda en la Pagina web de Foro Nasa es extraida mediante la API oficial de la NASA,
    legalmente siguiendo politicas de terminos y condiciones de uso.
</p>

<p>Enla aplicacion exista la libre expresion en los comentarios mientras se respeten ciertas normas de covivencias
    
</p>