<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card"
                style="border-radius: 1rem; background-color: rgba(0, 0, 0, 0.495); backdrop-filter: blur(10px);">
                <div class="card-body p-5 text-center">
                    <div class="mt-md-4">
                        <h1 class="fw-bold mb-2 text-uppercase text-white">Log in</h1>
                        <p class="text-white-50 mb-5">Please enter your login and password!</p>
                        {{!--
                        <hr> --}}
                        <form  id="loginForm" action="/auth/login" method="POST">
                            <div class="form-floating mt-3 mb-3">
                                <input type="email" class="form-control" name="email" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input type="password" class="form-control" name="password" id="floatingPassword"
                                    placeholder="Password">
                                <label for="floatingInput">Password</label>
                            </div>
                            <button id="loginBtn" type="submit"
                                class="btn btn-outline-light d-grid gap-2 col-6 mx-auto mb-2 mt-3">
                                <p class="loginText mb-0" id="loginText">Log in</p>
                                <i id="spinner" class="fas fa-spinner fa-spin" style="display: none;"></i>
                            </button>
                            <p class="text-white-50 mt-5">Do not you have an account yet? <a href="/auth/signup">click
                                    here </a>to create an account</p>
                            {{#if errorMessage}}
                            <p class="error text-warning" class="mt-3">{{errorMessage}}</p>
                            {{/if}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- loading-buton.js imported -->
<script src="/js/loading-buton.js"></script>