<h2 class="text-center text-white">NEWS</h2>
<div class="container-fluid d-flex flex-wrap">

    {{#each news}}
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
    <div class="p-3">
    <div class="card" id="card-news" style="width: 21rem; background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(25px);">
         {{!-- <div class="card" style="border-radius: 1rem; background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(10px);"> --}}
        <div class="card-body">
        <h6 class="card-title text-white">{{title}}</h6>
         <a href="/news/{{date}}"><img src={{url}} class="card-img-top rounded mx-auto d-block"  id ="imgsize"alt="nasa"></a>
        </div>
        </div>
        </div>
        </div>
    </div>

    {{/each}}
