<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card" style="border-radius: 1rem; background-color: rgba(0, 0, 0, 0.3); backdrop-filter: blur(10px);">
        <div class="card-body p-5 text-center">
          <div class="mb-md-5 mt-md-4 ">
            <h1 class="fw-bold mb-2 text-uppercase text-white">Sign up</h1>
            <p class="text-white-50 mb-3">Please create your username and enter your email and password!</p>
            {{!--
            <hr> --}}
            <form id="signupForm" action="/auth/signup" method="POST">
        <div class="text-center">
            <span class="text-white-50"><i class="fa-solid fa-rocket fa-beat-fade fa-5x"></i></span>
          </div>

          <div class="form-floating mt-3 mb-2">
            <input type="text" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
          </div>

          <div class="form-floating mb-2">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>


          <div class="form-floating mb-2">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingInput">Password</label>
          </div>
              <button id="signupBtn" type="submit" class="btn btn-outline-light d-grid gap-2 col-6 mx-auto mb-2 mt-3">
                <p class="signupText mb-0" id="signupText">Sign up</p>
                <i id="spinnerTwo" class="fas fa-spinner fa-spin" style="display: none;"></i>
              </button>

              <p class="text-white-50 mt-5">Do you already have an account?<a href="/auth/login" class="text">click here
                </a>to log in</p>
              {{#if errorMessage}}
              <p class="error text-warning">{{errorMessage}}</p>
              {{/if}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- loading-button.js imported -->
<script src="/js/loading-buton.js"></script>