<h1 class="text-center fw-bolder title-nasa"> FORO NASA 🚀 <br> 🌟 Interactive Community.</h1>
<div class="homepage-video-container">
        <video autoPlay loop muted>
            <source src="/videos/tierra.mp4" type="video/mp4">
        </video>
        <div class="homepage-video-overlay">
            
        </div>
</div>